.App {
  text-align: center;
}


.App-header {
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: red;
}

.App-link {
  color: #61dafb;
}


ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top:50px ;
}

a{
  text-decoration: none;
  border: 1px solid salmon;
  margin-right: 30px;
  padding: 5px;
  background-color: red;
  color: white;
}

a:hover{
  background-color: black;
}

.main-div{
  padding-bottom: 30px;
  color: red;
}

.container-img{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h1{
  padding-top: 30px;
  font-size: 2rem;
  
}

p{
  font-size: 23px;
  color: black;
}

footer a{
  background-color: black;
}

footer{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 50px;
}

